<!-- Include the header partial -->
<% include ../_header %>

<!-- content -->
<div class="sidebar">
    <div class="picture">
        <% var hash = hex_md5(userEmail); %>
      	<img src=<%= 'https://secure.gravatar.com/avatar/' + hash + '?size=220&default=https%3A%2F%2Fwww.parse.com%2Fimages%2Faccounts%2Fno_avatar.png' %> />  </div>
  	<div class="username"><%= userDisplayName %></div>
  	<div class="blog_description"><%= userDescription %></div>
</div>
  	
<div class="main_content">
  	<% events.forEach(function(event) { %>
  		<div class="post_link">
	  		<h1><a href="<%= '/posts/' + event.id %>"><%= event.get("objectId") %></a></h1>
	  		<h5><%= formatTime(event.get("startDate")) %></h5>
	  		<p><%- snippet(event.get("location"), 210) %></p>
  		</div>
    <% }) %>
</div>

<div class="add_event">
    <
</div>

<!-- Include the footer partial -->
<% include ../_footer %>
